/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Safari/Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* Estándar */
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #151515;
  font-family: "Poppins", sans-serif;
}

b {
  color: #D4AF37;
}

header {
  background-color: #151515;
  color: #fff;
  padding: 1rem 0 .5rem 0;
  border-bottom: 1px solid #D4AF37;
}

header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

nav a:hover {
  color: #D4AF37;
}

.footer {
  background-color: #151515;
  color: #f1f1f1;
  padding: 2rem;
  font-family: sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.footer-item i {
  font-size: 1.5rem;
  color: #D4AF37;
  margin-top: 0.2rem;
}

.footer-item p {
  margin: 0;
}

.footer-item small {
  color: #ccc;
}

.footer-item a {
  color: #f1f1f1;
  text-decoration: none;
}

.footer-item a:hover {
  color: #D4AF37;
}

/* index */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.hero h2 {
  font-size: 2em;
}

.hero p {
  font-size: 1.2em;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('img/hero.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 320px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.item img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.item p {
  text-align: center;
  margin-top: 0.5rem;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: inline-flex;
  gap: 2em;
  padding: 4em;
}

.carousel-card {
  min-width: 250px;
  max-width: 350px;
  height: 630px;
  margin: 0 10px;
  background: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.carousel-card img {
  width: 100%;
  height: 500px;
  display: block;
}

.card-info {
  padding: .75rem;
  background: #f5f5f5;
  text-align: center;
}

.card-info h4 {
  margin: 0.3rem 0;
  font-size: 1.1rem;
  color: #333;
}

.card-info p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: #555;
}

.carousel-card:hover {
  transform: scale(1.05);
}

/* about us */
.about-hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('./img/hero-about.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 300px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-hero h2 {
  font-size: 2.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.about-hero .intro {
  font-size: 1.2rem;
  line-height: 1.6;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.mision-vision {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mision-vision h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.section-bottom {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.proceso,
.ubicacion {
  flex: 1 1 400px;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
}

.proceso {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 10px;
}

.valores h3 {
  color: #151515;
  margin: 1em 0 .5em 0;
}

.valores ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.valores li {
  background-color: #D4AF37;
  padding: 0.7rem 1.2rem;
  border: 1px solid #8c8c8c;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #151515;
}

.ubicacion {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 10px;
}

.mapa-container iframe {
  border-radius: 10px;
  border: 0;
  width: 100%;
  height: 300px;
}