* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #222;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header {
  background-color: #111;
  color: #fff;
  padding: 1rem 0;
}

header a {
  text-decoration: none;
  color: #fff;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/hero.jpg') center/cover no-repeat;
  color: #fff;
  padding: 200px 300px;
  text-align: center;
}

.containerHero {
}

.hero .btn {
  background: crimson;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5px;

}

section {
  padding: 60px 0;
}

h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.item img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.item p {
  text-align: center;
  margin-top: 0.5rem;
}

.carousel {
  width: 100%;
  overflow: hidden;
  margin: auto;
  white-space: nowrap;
}

.carousel-track {
  display: inline-flex;
  gap: 2em;
}

.carousel-track img {
  height: 400px;
  margin-right: 10px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-track img:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.footer {
  background-color: #111;
  color: #f1f1f1;
  padding: 2rem;
  font-family: sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.footer-item i {
  font-size: 1.5rem;
  color: #f1c40f;
  margin-top: 0.2rem;
}

.footer-item p {
  margin: 0;
}

.footer-item small {
  color: #ccc;
}

.footer-item a {
  color: #f1f1f1;
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
}